<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User Management</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body layout:fragment="body">
    <header>
        <h1>User Management System</h1>
    </header>
    <main layout:fragment="content">
        <div layout:fragment="content"></div>
    </main>
</body>
</html>